{% extends 'base.html.twig' %}


{% block title %}New Test creation{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {# render the task's only field: description #}
    {{ form_row(form.title) }}

    <h3>Options</h3>

        {# iterate over each existing tag and render its only field: name #}
        <table>
        {% for option in form.options %}
            <tr>
            {{ form_row(option) }}
            </tr>
            <!--tr>
                <td>{{ form_row(option.text) }}</td>
                <td>{{ form_row(option.is_right) }}</td>
            </tr-->
        {% endfor %}
        </table>

    {{ form_end(form) }}

{% endblock %}



{% block javascripts %}

{% endblock %}